#contact {
  background-color: #cbcbcb;
  width: 100%;
  padding-top: 86px;
  padding-bottom: 138px;
}

#contact h2 {
  color: #191919;
  font-family: "Noto Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 58px;
  margin-bottom: 28px;
  text-align: center;
}

#contact p {
  color: #191919;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 64px;
  text-align: center;
}

#contact form {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px 48px 48px 48px;
  gap: 32px;
}

#contact form input,
#contact form textarea {
  background-color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 16px 13px;
  border: none;
}

#contact form input.error {
  border: 2px solid red;
}

#contact form input.valid {
  border: 2px solid green;
}

#contact form textarea.error {
  border: 2px solid red;
}

#contact form textarea.valid {
  border: 2px solid green;
}

#contact form textarea {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

#contact form button {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #191919;
  color: #fcfcfc;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  #contact {
    padding: 86px 30px 136px;
  }

  #contact form {
    grid-template-rows: 48px 48px 48px 219px 48px;
  }

  #contact form input {
    grid-column: 2 span;
  }

  #contact form textarea {
    grid-column: 2 span;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
